apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-tls
  namespace: observability
spec:
  secretName: grafana-tls
  dnsNames:
    - grafana.staging.betaserver.ru
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer

